###############################################################
[ req ]
prompt = no
default_bits = 4096
default_md = sha512
default_keyfile = tls/keys/logstash.local.flex.key.pem
distinguished_name = flex_distinguished_name
req_extensions = flex_cert
###############################################################
[ flex_distinguished_name ]
countryName = US
stateOrProvinceName = MO
localityName = St. Louis
organizationName = Business, Inc.
organizationalUnitName = Information Technology
commonName = Logstash Flex
emailAddress = none@localhost
###############################################################
[ flex_cert ]
nsComment = OpenSSL Certificate for Client and Servers
subjectAltName = @alternate_names
###############################################################
[ alternate_names ]
DNS.1 = logstash
DNS.2 = logstash.local
